.dcCont{
    width: 1518px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.dcAbout_left{
    height: 537px;
    width: 666px;
    background-image: url('../../assets/img/dcabout1img.png');
}


.dcAbout_right{
    height: 537px;
    width: 579px;
    background-image: url('../../assets/img/dcabout2img.png');
}

.dcAbout_left ul{
    margin-left: 60px;
    margin-top: 80px;
}

.dcAbout_left ul li{
    display: flex;
    align-items: center;
}

.dcAbout_left ul li img{
    height: 45.74947738647461px;
    width: 45.936851501464844px;


}

.dcAbout_left ul li span{
    margin-left: 31px;
}

.dcAbout_left ul li span h2{
    margin: 0;
    margin-bottom: 6px;
    /* height: 29px; */
    width: 137px;
    font-style: normal;
    font-weight: 600;
    font-size: 26.272px;
    line-height: 29px;
    color: #FFFFFF;
}

.dcAbout_left ul li span p{
    margin: 0;
    height: 50px;
    width: 277px;
    font-style: normal;
    font-weight: 300;
    font-size: 22.5188px;
    line-height: 25px;
    color: #FFFFFF;
}