.proekti {
    margin-top: 350px;
}

.proekti__title h2 {
    height: 54px;
    width: 254px;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 129.5%;
    margin: 0 auto 50px;
}

.proekti__info-1 {
    position: relative;
    margin-left: 100px;
    margin-bottom: 114px;
    height: 543px;
    width: 1428px;
    border-radius: 5px;
    background-color: #fff;
}

.proekti__info-1 img {
    position: absolute;
    top: 69px;
    right: 800px;
}

.proekti__info-1 p {
    position: absolute;
    top: 80px;
    left: 648px;
    height: 356px;
    width: 750px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    text-align: right;
}

.proekti__info-2 {
    position: relative;
    height: 320px;
    width: 1333px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 113px;
}

.proekti__info-2 p {
    position: absolute;
    height: 180px;
    width: 727px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    top: 70px;
    left: 27px;
}

.proekti__info-2 img {
    position: absolute;
    right: -60px;
    top: -40px;
}

.napravleni {
    height: 606px;
    background-image: url('../../assets/img/napravleniibgimg.png');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 71px;
}

.napravleni h2 {
    height: 54px;
    width: 314px;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 129.5%;
    color: #fff;
    margin: 0 auto;
    padding-top: 30px;
}

.napravleni p {
    height: 36px;
    width: 701px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 129.5%;
    color: #fff;
    margin: 25px auto 99px;
}

.napravleni ul {
    margin-left: 40px;
    display: flex;
    margin-bottom: 48px;
}

.napravleni ul li {
    height: 239.99998474121094px;
    width: 198px;
    border-radius: 5px;
    background: rgba(189, 0, 255, 0.4);
    margin: 0 12.5px;
}

.napravleni ul li p {
    /* height: 40.29889678955078px; */
    width: 156.15821838378906px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 129.5%;
    text-align: center;
    margin: 25px auto 45px;
}

.napravleni ul li img {
    margin-left: 47px;
}

.napravleni button {
    padding: 9px 21.5px;
    border: none;
    background: #B131DD;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
    margin-left: 685px;
}

.proekti__info-3 {
    position: relative;
    height: 543px;
    width: 1428px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: 100px;
    margin-bottom: 80px;
}

.proekti__info-3 img {
    position: absolute;
    top: 70px;
    left: -110px;
}

.proekti__info-3 p{
    position: absolute;
    height: 356px;
    width: 750px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    text-align: right;
    top: 94px;
    left: 651px;
}

.proekti__info-4 {
    position: relative;
    height: 543px;
    width: 1428px;
    border-radius: 5px;
    background: #FFFFFF; 
    margin-bottom: 80px;
} 

.proekti__info-4 p{
    position: absolute;
    top: 137px;
    left: 25px;
    height: 270px;
    width: 750px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
}

.proekti__info-4 img {
    position: absolute;
    top: 69px;
    left: 789px;
}