@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');


body{
    font-family: 'Comfortaa', cursive;
    background: #E5E5E5;
}

.container{
    margin: 0 auto;
    width: 1518px;
}

.resultWrap{
    margin: 0 auto;
}

ul{
    list-style-type: none;
}